.hand {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 160px;
}

.playing-card {
    width: 170px;
    height: 240px;
    border: 2px solid lightgray;
    border-radius: 15px;

    background-color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;

    padding: 20px;
    margin: 70px 20px -150px;
    transition: margin-top 500ms ease;
}

.playing-card.animate:hover,
.playing-card.selected {
    margin-top: 0;
    transition: margin-top 500ms ease;
}

.playing-card.selected {
    background-color: lightgray;
    border-color: gray;
}

.playing-card .card-denom {
    font-size: 36pt;
    margin-right: 35px;
    width: 55px;
}

.playing-card.card-joker .card-denom {
    margin-right: 0;
}

.playing-card .card-suit {
    font-size: 27pt;
}

.playing-card.card-diamonds,.playing-card.card-hearts
{
    color: red;
}

.playing-card.card-spades,.playing-card.card-clubs
{
    color: black;
}

.playing-card .card-button {
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20pt;

    width: 90px;
}

.playing-card .card-button:hover {
    background-color: #f2f2f2;
}