.pawn.large {
    font-size: min(20vh, 70pt);
    padding: min(4vh, 20px);
}

.pawn.medium {
    font-size: min(15vh, 40pt);
    padding: min(2vh, 10px);
}

.pawn.small {
    font-size: min(7vh, 25pt);
    padding: min(1.5vh, 3px);
}

.pawn {
    font-family: "Suits";
    margin:auto;
    line-height: 1;
    opacity: 0.5;
}

.pawn:before {
    content: "p";
}

.pawn.mine,
.pawn.selectable:hover {
    opacity: 1;
}

.pawn.selectable:hover {
    cursor: pointer;
}

.pawn.mine:before,
.pawn.selected:before,
.pawn.selectable:hover:before {
    content: "P";
}

.pawn.red {
    color: #ff1d1d;
}

.pawn.blue {
    color: #2b46e5;
}

.pawn.yellow {
    color: #ffff00;
}


.pawn.green {
    color: #0ce20a;
}

.color-pick-name {
    font-size: min(5vh, 20pt);
    text-align: center;
    height: calc(1.5em + 0.75rem + 2px);
}

.color-pick-name input {
    font-size: min(5vh, 20pt);
    text-align: center;
    border: none;
    border-bottom: lightgray solid;
    border-radius: 0;
}

.color-pick-name input:focus {
    box-shadow: none;
}
